/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sched-TopButton, .sched-TopButton-notLast {
	left: 50px;
	position: relative;
	margin: 0px 50px 0px -100px;
	padding: 0px 75px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size:small;
	/* background: url("images/hborder.png") repeat-x 0px -2077px; */
	border:1px solid #bbb;
	border-left: 0px;
	border-bottom: 0px;
	border-top: 0px;
	box-shadow: inset -10px 0px 10px -10px black;
}

.sched-TopButton-notLast {
	border-radius: 0px 50px 0px 0px; 
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.courseList {
	width: 100%;
	border-spacing: 0px;
}

.courseList>tr:nth-child(even) {
	background: #F3F7FB;
}

.courseList>tr:nth-child(odd) {
	background: #FFF;
}

.courseList>tr:hover {
	background: #EEE;
}

.courseList td {
	padding: 3px;
}

.termView div {
	margin: 2px;
	padding: 2px;
	float: left;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

.permutationCourseItem {
	border-width: 0px 0px 1px 0px;
	border-color: black;
	border-style: solid;
	width: 100%;
}

.permutationPeriodItem {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	left: 0px;
	cursor: pointer;
}

.permutationCanvas {
	border-radius: 10px;
	border: 2px #CCCCCC solid;
	cursor: pointer;
}

.permutationHourMarker {
	border-bottom: 1px dotted #ddd;
	border-top: 1px solid #ddd;
	width: 100%;
}

.permutationHourLabel {
	border: 1px solid #ddd;
	font-size: smaller;
	overflow: hidden;
}

.courseItemPeriods {
	
}

.courseItemPeriods>div:hover {
	background: #F3F7FB;
}


.PeriodSelectProf {
	float: right;
	cursor: pointer;
	content: 'test';
}

.PeriodSelectProf:hover {
	content: 'test';
}

.ScheduleLoadingLabel {
	width: 30%;
	border-radius: 12px;
	border: 1px solid #CCCCCC;
	font-size: 40px;
	position: absolute;
	z-index: 2;
	background-color: #FFFFFF;
	opacity: 0.95;
}

.ConflictResolverTable > tbody > tr > td {
	border: 1px solid #BBBBBB;
	border-radius: 10px;
	padding: 4px;
}

.DetailedSection {
	border: 1px solid #BBBBBB;
	border-radius: 10px;
	padding: 4px;
	width: 100%;
}

.TimeTable {
	border-width:2px; 
	border-style:solid;
	border-color:black;
	border-spacing:0;
	border-collapse:collapse;
}

.TimeTable_NoFont {
	font-size:0px;
}

.TimeTable_Cell {
	display:inline-block;
	font-size:0px;
}

.TimeTable_Cell_Static {
	border-right-width:1px;
	border-right-style:solid;
	border-color:black;
}

.TimeTable_Cell_Selected {
	background-color:#339900;
}

.TimeTable_Cell_Deselected {
	background-color:#FFDEDE;
}

.TimeTable_Cell_Even {
	border-top-width:1px;
	border-top-style:solid;
	border-color:black;
}

.TimeTable_Cell_Odd {
	border-top-width:1px;
	border-top-style:dotted;
	border-color:black;
}